@charset 'utf-8';

html{
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    overflow-x:hidden;
    color:rgb(29,29,31);
    /* 자간 */
    letter-spacing: -0.05em;
    background:#fff;
}

p{
    line-height: 1.6;
}

.global-nav{
    height: 44px;
    /* 더 작으면 같이 줄어들도록 */
    
}

.global-nav-links{
    max-width: 1000px;
    margin:0 auto;
    height:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}