@charset 'utf-8';

html{
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    overflow-x:hidden;
    color:rgb(29,29,31);
    /* 자간 */
    letter-spacing: -0.05em;
    background:#fff;
}

p{
    line-height: 1.6;
}

a{
    color:rgb(29,29,31);
    text-decoration: none;
}

.global-nav{
    height: 44px;
    /* 더 작으면 같이 줄어들도록 */
    
}

.local-nav{
    height:52px;
    border-bottom:1px solid #ddd;
}

.global-nav-links,.local-nav-links{
    max-width: 1000px;
    margin:0 auto;
    height:100%;
    display:flex;
    align-items: center;
}

.global-nav-links{
    justify-content: space-between;
}

.product-name{
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: bold;
}

.local-nav-links a:not(.product-name){
    font-size:0.8rem;
    margin-left:2em;
}

